In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from resourceReport import ResourceReport

In [2]:
instance = ResourceReport()
df = instance.camp_df

In [3]:
condition = (df['status'] == 'open') & (df['refugeePop'] > 0)
filtered_df = df[condition][['campID', 'status', 'refugeePop']].reset_index(drop=True)
print(filtered_df)

   campID status  refugeePop
0       3   open           5
1       5   open          12
2       9   open           2
3      11   open           1

In [4]:
# Initialize an empty DataFrame for the final result
final_df = pd.DataFrame(columns=['resourceID','campID','qty'])
new_camps_df = filtered_df

# Iterate over the base DataFrame
for index, row in new_camps_df.iterrows():
    # Create a temporary DataFrame for col1 values and the current values of col2 and col3
    temp_df = pd.DataFrame({
        'resourceID': range(1, 11),  # 1 to 10 for col1
        'campID': row['campID'],
        'qty': row['refugeePop'] * 10
    })

    # Concatenate the temporary DataFrame to the final DataFrame
    final_df = pd.concat([final_df, temp_df], ignore_index=True)

print(final_df)

## then just need to add this over to the files; and recalculate the files
## we need to force the admin to deal w new camps before anything else. 

## validaiton msg too !

   resourceID campID  qty
0           1      3   50
1           2      3   50
2           3      3   50
3           4      3   50
4           5      3   50
5           6      3   50
6           7      3   50
7           8      3   50
8           9      3   50
9          10      3   50
10          1      5  120
11          2      5  120
12          3      5  120
13          4      5  120
14          5      5  120
15          6      5  120
16          7      5  120
17          8      5  120
18          9      5  120
19         10      5  120
20          1      9   20
21          2      9   20
22          3      9   20
23          4      9   20
24          5      9   20
25          6      9   20
26          7      9   20
27          8      9   20
28          9      9   20
29         10      9   20
30          1     11   10
31          2     11   10
32          3     11   10
33          4     11   10
34          5     11   10
35          6     11   10
36          7     11   10
37          8     11   10
38          9     11   10
39         10     11   10

In [5]:
new_map = pd.concat([instance.resourceAllocs_df, final_df], ignore_index=True)
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

new_map.head(100)

   resourceID campID   qty
0           1      3  2292
1           2      3   648
2           3      3   288
3           4      3    31
4           5      3    19
..        ...    ...   ...
90          6     11    10
91          7     11    10
92          8     11    10
93          9     11    10
94         10     11    10

[95 rows x 3 columns]

In [6]:
df2 = instance.resourceStock_generator(new_map)
print(df2)

    resourceID                      name  total  priorityLvl
0            1                  Blankets  10284            2
1            2                  Clothing   3051            1
2            3                      Toys   1467            3
3            4                  Medicine    336            1
4            5                  Vitamins    285            2
5            6                      Food    302            1
6            7                    Snacks    266            3
7            8                Toiletries    285            2
8            9                     Water    401            1
9           10             Baby Supplies    302            1
10          11  General Tools & Supplies  50095            3